<nav class="navbar  navbar-expand-md navbar-light bg-light">

<a class="navbar-brand" href="#">VolunteerMe</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarText">

<ul class="navbar-nav nav-tabs mr-auto text-center">
	
</ul>
<ul class="navbar-nav nav-tabs text-center justify-content-end">
	<li class="nav-item dropdown ">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
	    <div class="dropdown-menu text-center dropdown-menu-right">
			<a class="nav-link" href="/admin/">View Database</a>
		</div>
	</li>
</ul>
</div>
</nav>




