<!DOCTYPE html>
{% extends 'vAPI/base.html'%}
{% load staticfiles %}
{% block title %}
VolunteerMe
{% endblock %}

{% block body %}
	<div class="row text-center">
		<div class="col-6 offset-3">
			<h1> Database Charts </h1>
			<a href="/home/models/users/1/" class="btn btn-sm btn-primary"> Volunteers </a>
			<a href="/home/models/users/0/" class="btn btn-sm btn-success"> Volunteer Providers </a>
			<a href="/home/models/volunteer_events/" class="btn btn-sm btn-info"> Volunteer Events </a>
			<a href="#" class="btn btn-sm btn-warning"> Volunteer Posts </a>
			<a href="#" class="btn btn-sm btn-danger"> Donations </a>
		</div>
	</div>

{% endblock %}
