<!DOCTYPE html>
{% extends 'vAPI/base.html'%}
{% load staticfiles %}
{% block title %}
VolunteerMe
{% endblock %}

{% block body %}
	<div class="row text-center">
		<div class="col-6 offset-3">
			<h1> Volunteer Provider Charts </h1>
			<canvas id="bar_chart" className="chart" width="400" height="300"></canvas>

			<table class="table table-light table-striped table-bordered">
				<thead class="thead-light">
					<tr>
						<th>Total Volunteer Events</th>
						<th>Total Volunteer Events in Past</th>
						<th>Total Volunteer Events in Future</th>
					</tr>
				</thead>
				<tbody class="">
					<tr>
						<td>
							{{total_events}}
						</td>
						<td>
							{{total_events_past}}
						</td>
						<td>
							{{total_events_future}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-12">
			<a href="/home/models/" 
				class="btn btn-secondary btn-sm form-control">
				Back to Model Selection
			</a>
		</div>
		
		<br/><br/><br/><br/>
		<p>IMPROVEMENTS:</p>
		
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

	<script type="text/javascript">
		let leftCtx = document.getElementById("bar_chart").getContext('2d');

		{% autoescape off %}
			let labels = {{labels}};
			let data = {{data}};
		{% endautoescape %}

		
		let leftChart = new Chart(leftCtx, {
		    type: 'bar',
		    data: {
		    	labels: labels,
		        datasets: [{
		            label: 'Volunteer Events',
		            data:  data,
		            backgroundColor: "green",
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});

	</script>
{% endblock %}
