<!DOCTYPE html>
{% extends 'vAPI/base.html'%}
{% load staticfiles %}
{% block title %}
VolunteerMe
{% endblock %}

{% block body %}
	<div class="row text-center">
		<div class="col-6 offset-3">
			<h1> Volunteer Provider Charts </h1>
			<canvas id="vol_chart" className="chart" width="400" height="300"></canvas>

			<table class="table table-light table-striped table-bordered">
				<thead class="thead-light">
					<tr>
						<th>Total Volunteer Providers</th>
					</tr>
				</thead>
				<tbody class="">
					<tr>
						<td>
							{{total_users}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-12">
			<a href="/home/models/" 
				class="btn btn-secondary btn-sm form-control">
				Back to Model Selection
			</a>
		</div>
		
		<br/><br/><br/><br/>
		<p>IMPROVEMENTS:</p>
		<ul>
			<li>Filter by date</li>
			<ul>
				<li>Ajax request to update data</li>
				<li>Date Picker</li>
			</ul>
			<li>Demographics of volunteers</li>
		</ul>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

	<script type="text/javascript">
		let leftCtx = document.getElementById("vol_chart").getContext('2d');

		{% autoescape off %}
			let vol_labels = {{dates}};
			let vol_data = {{count}};
		{% endautoescape %}

		console.log(`${vol_labels}, ${vol_data}`);
		let leftChart = new Chart(leftCtx, {
		    type: 'bar',
		    data: {
		    	labels: vol_labels,
		        datasets: [{
		            label: 'Volunteer Providers Joined',
		            data:  vol_data,
		            backgroundColor: "green",
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});

	</script>
{% endblock %}
